---
const { tags = [] } = Astro.props;
---
{tags.length > 0 && (
  <div style="display: flex; flex-wrap: wrap; gap: 10px; margin-top: 16px;">
    {tags.map((tag: string) => <span class="tag">{tag}</span>)}
  </div>
)}
